### VITALS ###
NODE_PORT=2222
SECRET_KEY=SECRET_KEY_FROM_PANEL



### Internal (local) ports
XTLS_API_PORT=61000

# Traffic audit
XRAY_ACCESS_LOG_PATH=/var/log/xray/access.log
TRAFFIC_AUDIT_BACKEND_URL=
TRAFFIC_AUDIT_INGEST_TOKEN=
TRAFFIC_AUDIT_NODE_UUID=
TRAFFIC_AUDIT_FLUSH_INTERVAL_MS=5000