### VITALS ###
NODE_PORT=2222
SECRET_KEY=



### Internal (local) ports
XTLS_API_PORT=61000

# Traffic audit
XRAY_ACCESS_LOG_PATH=/var/log/xray/access.log
TRAFFIC_AUDIT_BACKEND_URL=
TRAFFIC_AUDIT_CREDENTIAL=
TRAFFIC_AUDIT_FLUSH_INTERVAL_MS=5000
TRAFFIC_AUDIT_QUEUE_MAX_SIZE=20000
TRAFFIC_AUDIT_REQUEST_TIMEOUT_MS=10000
TRAFFIC_AUDIT_BACKOFF_INITIAL_MS=1000
TRAFFIC_AUDIT_BACKOFF_MAX_MS=60000
